<% provide(:title, "About Us") %>
<h1>About Us</h1>
<p>
  This webpage contrains a social network called TwittoSocial developed by <a href="http://www.linkedin.com/profile/view?id=4037271&trk=tab_pro">Stian Alsos</a>. It's a closed social network for groups smaller
  than 1000 people, which is a crossover between Twitter and Facebook. The code is open source and free, and can
  be viewed and downloaded from <a href="https://github.com/stiancor/twittosocial">Github</a>.
</p>

<p>If you have suggestions on new functionality, or how the code could be
  improved. Please contact me on stian(dot)alsos(at)gmail(dot)com.
</p>

<h3>Some functionality:</h3>
<br/>
<ul>
  <li>Following and followers like Twitter</li>
  <li>Full text search, and hashtags</li>
  <li>Mailsending when mentioned</li>
  <li>Likes</li>
  <li>Using Gravatar for profile images</li>
  <li>Maximum 250 chars per micropost</li>
  <li>Much more...</li>
</ul>
