<% provide(:title, "Contact") %>

<h1>Contact</h1>
<p>
  TwittoSocial is authored by me, <a href="http://www.linkedin.com/profile/view?id=4037271&trk=tab_pro">Stian Alsos</a>.
  I work for the Norwegian company <a href="www.kodemaker.no">Kodemaker</a> situated in Oslo.
</p>
<p>The TwittoSocial code base is open source, and free of charge. If you want to use it, or improve it you can find
the code at <a href="https://github.com/stiancor/twittosocial">Github</a>. Please let me know if you do at
stian(dot)alsos(at)gmail(dot)com.</p>