<%= form_for(micropost.likes.build(), remote: true) do |f| %>
    <div>
      <%= f.hidden_field :micropost_id %>
    </div>
    <%= button_tag class: 'btn btn-success btn-mini' do %>
        <i class="icon-thumbs-up icon-white"></i>
    <% end %>
<% end %>