<%= form_for(micropost.likes.build(), remote: true) do |f| %>
    <div>
      <%= f.hidden_field :micropost_id %>
    </div>
    <%= button_tag class: 'btn btn-info btn-mini' do %>
        &nbsp;<i class="icon-thumbs-up icon-white"></i>&nbsp;
    <% end %>
<% end %>