<%= form_for(micropost.likes.find_by_micropost_id(micropost), html: {method: :delete}, remote: true) do |f| %>
    <div>
      <%= f.hidden_field :micropost_id %>
    </div>
    <%= f.submit "Unlike", class: "btn btn-mini" %>
<% end %>