<% provide(:title, 'All users') %>
<h1>All users</h1>
<p>Total number of users in system <%= User.all.count %></p>

<%= will_paginate %>

<ul class="users">
  <%= render @users%>
</ul>

<%= will_paginate %>
