<h2 style="font-weight:300;line-height:1.2em;text-align:center" align="center">
  <br>
  Reset password
  <br>
</h2>
<p>Hey there</p>
<p>Click <a href='<%= get_url %>/reset_password/<%= token %>' target='_blank' style='color:#007fb6;text-decoration:none'>here</a> to set your new password</p>
<p style="margin-bottom:0">
