<% if @user.errors.any?|| @codeword.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains errors
      </div>
      <ul>
        <%= render 'shared/error_message', object: @codeword %>
        <%= render 'shared/error_message', object: @user %>
      </ul>
    </div>
<% end %>