<% if status == 'maybe' %>
    <span class="label label-warning">Maybe</span>
<% elsif status == 'yes' %>
    <span class="label label-success">Attending</span>
<% elsif status == 'no' %>
    <span class="label label-important">Not attending</span>
<% else %>
    <span class="label">Awaiting reply</span>
<% end %>
