<% provide(:title, 'All upcoming events') %>

<h1>All upcoming events!</h1>

<% if @events.empty? %>
    <h3>Sorry, no events planned :-/</h3>
<% else %>
    <div class="events">
      <%= render @events %>
    </div>
<% end %>
<hr>
<%= link_to 'Create new event', new_event_path %>

