<% provide(:title, 'All upcoming events') %>

<h1>All upcoming events!</h1>

<% if @events.empty? %>
    <h3>Sorry, no events planned :-/</h3>
<% else %>
    <ul class="events">
      <%= render @events %>
    </ul>
<% end %>
<hr>
<%= link_to 'Create new event', new_event_path, class: 'btn btn-large btn-primary' %>

