<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>You were mentioned in this message by <%= sender %>></h1>
<p>
  <%= message %><br>
</p>
<p>
  To view or answer the message go to this link.
</p>
<p>Have a great day!</p>
</body>
</html>